*{

  margin: 0;

  padding: 0;

}

/*only for mobile */

@media screen and (max-width:460px){

  .inta{

    flex-direction: column ;

    align-items: center;

    flex-wrap: wrap;

    width :100%;

    gap: 10%;

  }

  .menu-icon{

   width: 35px;

  height: 20px; 

  display: flex;

  flex-direction: column;

  justify-content: space-between;

   gap : 4px;

  cursor: pointer;

   position: relative;

  }

  .menu-icon span {

  display: block;

  height: 3px;    

  width: 100%;

  background-color: #333; 

  border-radius: 10px; 

  transition: 0.3s;     

}

#ban{

  margin-top: 15px ;

}

#icon{

  margin-left: -8rem;

}

#icon2{

  display: none;

  z-index: 11;

}

.cr1,.cr2{

  transition: 0.3s;     

  color : black;

  position: absolute;

}

.cr1{

  rotate: 45deg;

}

.cr2{

  rotate: -45deg;

}

  .bar{

    margin-top:1vw;

    margin-left: 1vw;

    padding: 0;

    width: 40px;

    background: none ;

    border: none;

  }

  aside{

    position: fixed;

    left: -100%;

    transition: 2s;

    top:0;

    width: 45vw;

  }

  .fun{

    margin-left:65%;

  }

  .boxes-1{

    margin-top: 50px;

    width: 90vw;

    height:calc( 60vw - 1rem);

  }

  .fun,.red1,.red2,.content,.contenm,.green-vall,.black1{

  position: absolute;} 

.green-vall,.red1{

  rotate: 45deg;}

.red2,.black1{

  rotate: -45deg;}

.red1,.red2{

  height: 65vw;

  background-color: red;}

.content,.contenm{

    background-color: rgb(255, 243, 238 ,0.7);}

.fun,.content,.boxes-1{

  border-radius: 2%;

}

.fun{

    background-color:#00A400;

  font-size: 18px;

  padding: 10px;

  border: none;

  color: white ;

    z-index: 10;

transition: 3s}

.fun:hover{

  background-color: #128C7E;

    transform: scale(1.1);

}

.boxes-1{

  background-color: black ;

  justify-content: center;

  position: relative;

  overflow: hidden;

margin:auto}

.green-vall{

  width: 40%;

  height: 40vw;

  background-color: #3B9B6E;

  transform-origin: bottom right;

  margin-top: 130px;

  margin-left :210px;}

.red1{

  width: 47%;

margin-left: 170px;

  margin-top:-37px;}

.red2{

  width: 40%;

margin-left: -1px;

  margin-top: 35px;}

.black1{

  width: 50%;

  height: 50vw;

  background-color:  #222B25;

margin-left: 10px;

  margin-top: -130px;}

}

/* pc or tablet or desktop + rotate ke liye */

@media screen and (min-width:768px),screen and (orientation: landscape){

  .boxes-1{

  width: 46vw;

  height: 30vw ;

  }

  .inta{

    width: 100vw;

    display: flex;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

  } 

  aside{

    position: sticky;

    left: 0;

    transition: 2s;

    width: 22vw;

    top:0;

  }

.fun,.red1,.red2,.content,.contenm,.green-vall,.black1{

  position: absolute;} 

.green-vall,.red1{

  rotate: 45deg;}

.red2,.black1{

  rotate: -45deg;}

.red1,.red2{

  height: 35vw;

  background-color: red;}

.content,.contenm{

    background-color: rgb(255, 243, 238 ,0.7);}

.fun,.content,.boxes-1{

  border-radius: 2%;

}

.fun{

    background-color:#00A400;

  font-size: 18px;

  padding: 10px;

  border: none;

  color: white ;

    z-index: 10;

transition: 3s}

.fun:hover{

  background-color: #128C7E;

    transform: scale(1.1);

}

.boxes-1{

  background-color: black ;

  justify-content: center;

  position: relative;

  overflow: hidden;

margin: 10% auto;}

.green-vall{

  width: 40%;

  height: 65%;

  background-color: #3B9B6E;

  transform-origin: bottom right;

  margin-top: 48%;

  margin-left :65%;}

.red1{

  width: 55%;

margin-left: 47%;

  margin-top: -15%;}

.red2{

  width: 40%;

margin-left: -1px;

  margin-top: 15%;}

.black1{

  width: 56%;

  height: 56%;

  background-color:  #222B25;

margin-left: 10px;

  margin-top: -30%;}

  .bar{

    display: none;

  }

}

body{

  width: 100vw;

  min-height: 100vh;

  justify-content: center;

 /* align-items: center ;*/

    display: grid; 

  grid-template-columns:auto 1fr;

  grid-template-rows: auto 1fr auto ;

  grid-template-areas: 

  "navbar navbar"

  "sidebar main"

  "sidebar  footer";

    background-color:#00bcff;

  overflow-x: hidden;

}

  nav{

    display: flex;

    position: sticky ;

    grid-area: navbar;

    height: 40px;

    width: 100vw;

    color: black;

    border: 1px solid black;

    justify-content: center;

    align-items: centre ;

  }

.hom,.cal,.mail{

  font-size: 1rem;

  color: white;

  background-color: transparent;

  border: none;

}

.hom:hover,.cal:hover,.mail:hover{

  font-size: 2rem;

  color: black;

  background-color: #8E7BEE;

}

aside{

  grid-area: sidebar;

  background-color:  #6F0076;

  z-index: 9;

  height:calc(100vh - 43px);

  opacity: 0.9;

  transition: 1.5s;

}

.inta{

  grid-area: main;

  min-height: 100vh;

  display:flex;

  flex-direction: column ;

  justify-content: center;

  grid-area:navbar-start / navbar-start / footer-end / footer-end;;

}

.asib{

  display: flex;

  flex-direction: column;

  justify-content: end;

  gap: 30px;

}

.content{

  width: 90%;

  height: 90%;

  margin-top:-3% ;

  margin-left:5%;

color: white;}

.contenm{

  width: 100%;

  height: 45%;

  display: flex;

  flex-direction: column;

  margin-top: 10%;

  justify-content: center;

  align-items: center;

  color:white;}

.top,.mid,.bot{

  border: 1px solid #9CA4A8;

  width: 100%;

}

.top,.bot{

  height: 10%;

  display: flex;

  justify-content: center;

  align-items: center;

  color: #9CA4A8;

  font-size: 50%;

}

.top{

  border-top-left-radius: 50%;

  border-top-right-radius: 50%;

}

.gro{

  height: 50px;

  width: 25px;

  display: flex;

  flex-direction: column;

  margin-left:90%;

}

.mid{

  height: 52%;

  border-top:none;

  border-bottom: none;

}

.bot{

 border-bottom-left-radius:50%;

border-bottom-right-radius:50%;

  color: #9CA4A8;  

}

.pen{

  margin-left: 60%;

}

.mail-icon {

  width: 30px;

  height: 20px;

  border: 2px solid #333;

  border-radius: 2px;

  position: relative;

  overflow: hidden;    

  display: inline-block;

}

.mail-icon::before {

  content: "";

  position: absolute;

  top: -2px;

  left: 1px;

  width: 0;

  height: 0;

  border-left: 14px solid transparent;

  border-right: 14px solid transparent;

  border-top: 12px solid #333;

}

footer{

  grid-area: footer;

  border: 1px solid black;

}

/* if user thim is dark  */

@media (prefers-color-scheme: dark){ body{

    background-color: #282121; }}
