*{
  margin: 0;
  padding: 0;
  height: auto;
}
.sliupr{
  top:50px;
  border: none;
  width: 30vw;
  height: 20vw;
  background: none;
  color: white;
  font-size: 30px;
  position: sticky;
  right: 10%;
  z-index: 10;
}
.h2{
  color: blue;
  top:30px;
}
html,body{
  height: auto;
  width: 100vw;
  margin: 0;
}.fun,.red1,.red2,.content,.contenm,.green-vall,.black1{
  position: absolute;} 

html, body .maina{
  position: relative;
 min-height: 100vh;
  width:100%;
  background-color:rgba(3, 5, 41, 0.8) ;
  color: White ;
  overflow: hidden;
}
#lon{
  width: 10%;
  height: 10%;
}
.loader{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.loader .crn{
  display: inline-block;
  justify-content: center;
  position: absolute ;
  top: 40%;
  left: 25%;
  width: 70%;
  overflow: hidden;
  
}
#spn{
  position: absolute ;
  animation: mor 1s forwards;
}
@keyframes mor{
  100%{
    transform: translateX(5%)
  }
  0%{
    transform: translateX(90%)
  }
}
.fut{
  width: 50%;
  height: 50%;
  display: block;
  border: 2px solid white;
  border-top-color: black;
  border-bottom-color: black;
  border-radius:50%;
  animation: rot 0.7s infinite , upr 0.7s ease-in-out 2s forwards;
}
@keyframes rot{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes upr{
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(-120%);
  }
}
.head{
  overflow: hidden ;
  animation: upr 0.7s ease-in-out 2s forwards;
}
#h3{
  overflow: hidden ;
  animation: upr 0.7s ease-in-out 2.5s forwards;
}
.ful{
  display: block ;
  position: absolute ;
  top: 90%;
  left: 45%;
  width: 10vh;
  height: 10vh;
  overflow: hidden ;
}
.per{
  width: 100vw;
  height: 100vh;
}
.gree{
  bottom: 0;
  position: absolute ;
  background-color: green;
  width:100%;
  height: 0;
  animation: grr 0.8s ease-in-out 3s forwards;
}
@keyframes grr{
  99.99%{
    height: 100vh;
  }
  100%{
    height: -100vh;
  }
}
.pen{
  z-index: 49;
  height:auto;
  animation:whr 1s ease-in-out 4s forwards;
}
.whi{
  left: 0;
  bottom: 0;
  position: absolute ;
  width:100%;
  height: 0;
  animation: whr 1s ease-in-out 4s forwards;
 background-color: transparent;
  z-index: 10;
}
@keyframes whr{
  0{ display: none;}
  100%{
    height: 100%;
    display: block;
    overflow: auto;
  }
}

.green-vall,.red1{
  rotate: 45deg;}
.red2,.black1{
  rotate: -45deg;}
.red1,.red2{
  height: 65vw;
  background-color: red;}
.content,.contenm{
    background-color: rgb(255, 243, 238 ,0.7);}
.fun,.content,.boxes-1{
  border-radius: 2%;
}
.fun{
  background-color:#00A400;
  font-size: 18px;
  width: 120px;
  padding: 10px;
  top: 50px;
  position: sticky;
  border: none;
  color: white ;
    z-index: 8;
transition: 3s}
.fun:hover{
  background-color: #128C7E;
    transform: scale(1.1);
}
.boxes-1{
  background-color: black ;
  justify-content: center;
  position: relative;
  overflow: hidden;
  left:auto;
  right: auto;}
.slide{
  display: flex;
  overflow-x:auto;
  height: auto;
  margin:40px auto 30px auto;
  scroll-snap-type:x mandatory ;
  border-radius: 10%;
}
.slide img{
  flex-shrink: 0;
  width: 90%;
  scroll-snap-align: center;
}
.slide::-webkit-scrollbar{
  display: block;
  height: 6px;
}
.slide::webkit-scrollbar-thumb{
  background: #ff4757;
  border-radius:1%;
  }

/*only for mobile */

@media screen and (max-width:460px){
.baue h2{
    margin-left: 10%;
}
.baue p{
  margin-left:15%;
}
.inta{
  flex-direction: column ;
  align-items: center;
  flex-wrap: wrap;
  width :100%;
  gap: 10%;
}
.slide{
  width:80%;
  }
.menu-icon{
  width: 35px;
  height: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   gap : 4px;
   cursor: pointer;
   position: relative;
}
.menu-icon span {
  display: block;
  height: 3px;    
  width: 100%;
  background-color: white; 
  border-radius: 10px; 
  transition: 0.3s;     
}

#ban{
  margin-top: 50px;
}
#icon{
  left: -8rem;
}
#icon2{
  display: none;
  z-index: 11;
}
.cr1,.cr2{
  transition: 0.3s;     
  color : black;
  position: absolute;
}
.cr1{
  rotate: 45deg;
}
.cr2{
  rotate: -45deg;
}
  .bar{
    top:5vw;
    left: 5vw;
    padding: 0;
    width: 40px;
    background: none ;
    border: none;
  }
  aside{
    position: fixed;
    left: -100%;
    transition: 2s;
    top:0;
    width: 45vw;
  }
  .fun{
    left:65%;
  }
  .boxes-1{
    width: 90vw;
    height:calc( 60vw - 1rem);
    margin-top:9%;
  }
  
.green-vall{
  width: 40%;
  height: 40vw;
  background-color: #3B9B6E;
  transform-origin: bottom right;
  top: 155px;
  left :200px;}
.red1{
  width: 47%;
  left: 165px;
  top:-35px;}
.red2{
  width: 40%;
  left: -9px;
  top: 50px;}
.black1{
  width: 50%;
  height: 50vw;
  background-color: #222B25;
  left: 10px;
  top: -110px;}

  }



/* pc or tablet or desktop + rotate ke liye */

@media screen and (min-width:768px),screen and (orientation: landscape){
  .h2{
    margin-left: 40%;
  }
  .inta{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
  } 
  .slide{
    width: 50%;
  }
  aside{
    margin: 0;
    position: sticky;
    left: 0;
    width: 22vw;
    top:40px;
  }
.boxes-1{
  width: 46vw;
  height: 30vw;
  background-color: black ;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin:auto;
}
#box1{

}
  
.green-vall{
  width: 40%;
  height: 65%;
  background-color: #3B9B6E;
  transform-origin: bottom right;
  margin-top: 48%;
  margin-left :65%;}
.red1{
  width: 55%;
margin-left: 47%;
  margin-top: -15%;}
.red2{
  width: 40%;
margin-left: -1px;
  margin-top: 15%;}
.black1{
  width: 56%;
  height: 56%;
  background-color:  #222B25;
margin-left: 10px;
  margin-top: -30%;}
  .bar{
    display: none;
  }
  .baue h2{
    margin-left: 30%;
  }
  .baue p{
    margin-left: 35%;
  }
  .fun{
    margin-left: 80%;
  }
}


.whi{
  width: 100%;
  justify-content: center;
  align-items: center ;
  display: grid; 
  position: absolute;
  grid-template-columns:auto 1fr;
  grid-template-rows: auto auto ;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
    background-color:#00bcff;
}
  nav{
    top:0;
    left: 0;
    display: flex;
    position: sticky;
    grid-area: navbar;
    z-index: 9;
    height: 40px;
    width: 100vw;
    color: black;
    justify-content: center;
    align-items: center ;
    background-color: rgba(19, 33, 44, 0.9);
  }
.hom,.cal,.mail{
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
}
.hom:hover,.cal:hover,.mail:hover{
  font-size: 2rem;
  color: black;
  background-color: #8E7BEE;
}


aside{
  grid-area: sidebar;
  background-color:  #6F0076;
  z-index: 9;
  height:calc(100vh - 40px);
  opacity: 0.9;
  align-self: start;
  transition: 1.5s;
}


.inta{
  grid-area: main;
  height:auto;
  display:flex;
  flex-direction: column ;
  justify-content: center;
  grid-row: navbar-end / footer-start; 
  grid-column: 1 / -1;
}
.asib{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
}
.content{
  width: 90%;
  height: 90%;
  margin-top:-3% ;
  margin-left:5%;
  position: absolute;
color: white;
z-index: 7;}
.contenm{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  color:white;}
.top,.mid,.bot{
  border: 1px solid #9CA4A8;
  width: 100%;
    }

.top,.bot{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9CA4A8;
  font-size: 50%;
}
.top{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.gro{
  height: 50px;
  width: 25px;
  display: flex;
  flex-direction: column;
  margin-left:90%;
}
.mid{
  height: 52%;
  border-top:none;
  border-bottom: none;
}
.bot{
 border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
  color: #9CA4A8;  
}
.pen{
  margin-left: 60%;
}
.mail-icon {
  width: 30px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 2px;
  position: relative;
  overflow: hidden;    
  display: inline-block;
}
.mail-icon::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 12px solid #333;
}
.myfut{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white ;
  background-color: #494BFF ;
  grid-area: footer;
  height: auto;
  border: 1px solid black;
}
footer{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}
.baue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  min-height: 300px;
  background-color:#00005F ;
  }
  
  


  

  

/* if user thim is dark  */

@media (prefers-color-scheme: dark){ body{

    background-color: #282121; }}
